<!-- customization modal-->
<!-- customization Modal 1-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog"
  aria-labelledby="portfolioModal1Label" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><i class="fas fa-times"></i></span>
      </button>
      <div class="modal-body text-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <!-- customization Modal - Title-->
              <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal1Label">Mon
                activité
              </h2>
              <!-- Icon Divider-->
              <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
              </div>

              <!-- customization Modal - Query result-->
              <textarea name="" id="simpleQueryResponse" cols="50" rows="5"></textarea>
              <div id="svg1"></div>
              <button class="btn btn-primary" id="simpleQuery">
                <i class="fas fa-search"></i>
                Execute Query
              </button>
              <div id="power-gauge"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- customization Modal 2-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog"
  aria-labelledby="portfolioModal2Label" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><i class="fas fa-times"></i></span>
      </button>
      <div class="modal-body text-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <!-- customization Modal - Title-->
              <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal2Label">Mes
                rapports</h2>
              <!-- Icon Divider-->
              <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
              </div>

              <!-- customization Modal - Text-->
              <textarea name="" id="advancedQueryResponse" cols="50" rows="5"></textarea>
              <button class="btn btn-primary" id="advancedQuery">
                <i class="fas fa-search"></i>
                Execute Query
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>