<header class="bg-primary text-white text-center">
  <div class=" header-custom-filter" data-parallax="true"
    style="background-image: url('https://source.unsplash.com/mNGaaLeWEp0/1600x900/');min-height:500px">
    <div class="container d-flex align-items-center flex-column" style="margin-top:120px;">
      <!-- Masthead Heading-->
      <h1 class="masthead-heading text-uppercase mb-0" style="margin-top:180px;">Prenez en main votre santé
        <div class=" divider-custom divider-light">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Coach - Avantages - Personalisation</p>
    </div>
  </div>
</header>