.header-custom-filter {
  background: radial-gradient(circle, transparent 40%, var(--color-v) 75%),
    linear-gradient(to right, var(--color), var(--color)), var(--image2);
  background-position: center center;
  background-size: cover;
  background-blend-mode: var(--blend-top, normal),
    var(--blend-bottom, saturation), normal;
  --color-v: black;
  --color: grey; //hsla(343,100%,50%,.5);
  flex: 1;
  width: 100vw;
}

div.gallery {
  margin: 5px;
  border: 1px solid #317433;
  float: left;
  width: 300px;
  height: 350px;
  background-color:#efede3;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

#chartdiv {
  width: 100%;
  height: 500px;
}

#chartdivweekly {
  width: 100%;
  height: 500px;
}

#chartdivweek {
  width: 100%;
  height: 200px;
}

#mapid { height: 380px; }