<!-- Consent Section-->
<section class="page-section" id="consent">
  <div class="container">
    <!-- Consent Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Démarrer</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Consent Section Content-->
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <!-- To configure the consent receipt, go to .env file.-->
        <p class="lead">Mesurez votre activité physique et gardez la forme !</p>
        <p class="lead">Parcourez les avantages de votre mutualité en fonction de vos activités.</p>
        <br /><br />
        <p class="lead"><b>Gérer mes activités:</b></p>
        <div class="text-center mt-12">
          <a class="btn btn-xl btn-primary" href="#">
            <i class="material-icons mr-1">description</i>
            Manuellement
          </a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="btn btn-xl btn-primary" href="{{actionActivateConsent}}">
            <i class="material-icons mr-1">directions_run</i>
            Via mon app sport
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Process Section-->
<section class="page-section portfolio bg-primary text-white mb-0" id="process">
  <div class="container">
    {{#if active}}
    <!-- Process Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-white">Mon activité physique </h2>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- App Grid Items-->
    <div class="row">
      <!-- App Item 1-->
      <div class="col-md-6 col-lg-6 mb-4 text-center">
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center"><i style="color:#317433"
                class="fa fa-eye fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/portfolio/heart-beats.png" alt="" />
          <p class="lead">Mesure de mon activité</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 mb-4 text-center">
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center"><i class="fa fa-eye fa-3x"
                style="color:#317433"></i>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/portfolio/clipboard.png" alt="" />
          <p class="lead">Mes rapports hebdomadaires</p>
        </div>
      </div>
    </div>
    {{else}}
    <h2 class="page-section-heading text-center text-uppercase text-white">Mon activité physique </h2>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- App Grid Items-->
    <div class="row">
      <!-- App Item 1-->
      <div class="col-md-12 col-lg-12 mb-4 text-center">
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
          <div class="pd-flex align-items-center justify-content-center h-100 w-100">

          </div>
          <img class="img-fluid" src="assets/img/portfolio/heart-beats.png" alt="" width="200px" />
          <br /><br />
          <p class="lead">Démarrez d'abord votre coach et mesurez votre activité physique !</p>
        </div>
      </div>
    </div>
    {{/if}}
  </div>
</section>
<!-- App Section-->
<section class=" page-section portfolio" id="personalize">
  <div class="container">
    <!-- App Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Mes avantages</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- App Grid Items-->
    <div class="row">
       {{#if active}}
      <!-- App Item 1-->
      <div class="col-md-4">
        <div class="gallery">
          <a target="_blank" href="img_5terre.jpg">
            <img src="https://www.mc.be/media/media/jcpmf-vert_tcm49-31425.jpg" alt="Cinque Terre" width="600" height="400">
          </a>
          <div class="desc"><b>Je cours pour ma forme</b><br/>Vous êtes peu ou non sportifs et vous souhaitez améliorer votre forme grâce à la course à pied ? Le programme « Je cours pour ma forme » va vous aider à y arriver !</div>
        </div>
      </div>
      <div class="col-md-8">
        <h6>Au vu de vos performances, nous vous conseillons le Niveau 3B+Long.</h6> 
        <h6>Voici les villes organisatrices à proximité de vos "running spots" favoris.</h6>
        <br/>
        <div id="mapid"></div>
        <script>
          var mymap = L.map('mapid').setView([50.616437,5.598439], 13);
          L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
              attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
              maxZoom: 18,
              id: 'mapbox/streets-v11',
              tileSize: 512,
              zoomOffset: -1,
              accessToken: 'pk.eyJ1IjoiYmVhdWxlIiwiYSI6ImNrZmh2M3cyNjBwMWEycm52eWdpcXBsaDAifQ._dn2fIFXkeGWb6YjjtNH8w'
          }).addTo(mymap);

          var marker = L.marker([50.585629, 5.645125]).addTo(mymap);
          marker.bindPopup("<b>Chaudfontaine</b><br>Contact: Jérôme Rompen 04 361 56 23.").openPopup();
          
          </script>
      </div>
      {{else}}
      <div class="col-md-4">
        <div class="gallery">
          <a target="_blank" href="img_5terre.jpg">
            <img src="https://www.mc.be/media/media/jcpmf-vert_tcm49-31425.jpg" alt="Cinque Terre" width="600" height="400">
          </a>
          <div class="desc"><b>Je cours pour ma forme</b><br/>Vous êtes peu ou non sportifs et vous souhaitez améliorer votre forme grâce à la course à pied ? Le programme « Je cours pour ma forme » va vous aider à y arriver !</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="gallery">
          <a target="_blank" href="img_5terre.jpg">
            <img src="https://www.eneosport.be/images/eneosport_278px.png" alt="Cinque Terre" width="600" height="400">
          </a>
          <div class="desc"><b>Enéo</b>Énéo (anciennement UCP), mouvement social des aînés, est une organisation de groupements locaux de rencontre qui brisent l'isolement des aînés.</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="gallery">
          <a target="_blank" href="img_5terre.jpg">
            <img src="https://www.mc.be/media//media/delhalle_logo_tcm49-31436.png" alt="Cinque Terre" width="600" height="400">
          </a>
          <div class="desc"><b>Le Challenge Delhalle</b>Le Challenge Delhalle est organisé par et pour des coureurs. Chaque année, il réunit environ 8 000 participants.</div>
        </div>
      </div>
      {{/if}}
    </div>
  </div>
</section>